<div class="container-fluid" id="navbar" >
  <nav class="navbar">
    <a class="navbar-brand" href="#" >
      <img id="logo"
        src="\assets\img\LOGO-COLOR.png"
        width="70"
        height="70"
        class="d-inline-block align-top"
        alt=""
      />
    </a>
    <div class="column" id="items">
      <a class="navbar-brand" href="/clientes">Clientes</a>
      <a class="navbar-brand" href="/creditos" >Créditos</a>
    </div>
  </nav>
</div>
<div class="container-fluid" id="principal">
  <div class="row">
    <div class="col-md-12">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

