#logo:hover {
  rotate: 360deg;
  transform: 1s;
  transition: 0.8s;
}

#items a:hover {
  background-color: #1d70b6;
  color: white;
  transition: 0.3s;
}
#items a {
  height: 30px;
  width: 50px;
  padding: 10px;
  border-radius: 8px;
  color: #1d70b6;
}
